<div class="section__container">

    <div class="container">

        <h1><img src="assets/images/pokedex.webp" alt=""></h1>

        <div class="pokeball__image">
            <img src="assets/images/pokebola-superior.png" alt="">
             <img src="assets/images/pokedex-name.png" alt="">
             <div class="input__name">
                <input type="text" placeholder="Name" [(ngModel)]="nombre">
                <img src="assets/images/go.svg" alt="" class="condorito" (click)="ingresarPokedex()">
                
             </div>
            
            <img src="assets/images/pokebola-inferior.png" alt="" class="input__image">
        </div>
    </div>

</div>