.section__pokedex {
    padding: 1.25rem 6%;
    width: 100%;
    min-height: 100vh;
    background: var(--body);
}

.section__pokedex-welcome {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.section__pokedex-welcome p {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--dark-gray);
}

.section__pokedex-welcome p span.name{
    font-size: 1.5rem;
    color: var(--primary);
}

.section__pokedex-input input {
    padding: 10px;
    width: 400px;
    border-radius: 0.25rem;
    border: 1px solid var(--dark-gray);
    outline-style: none;
}

.section__pokedex-input input:focus {
    border: 1px solid var(--primary);
}

.section__pokedex-input .send {
    padding: 10px 30px;
    margin-left: 20px;
    background: var(--primary);
    color: var(--text-white);
    border-radius: 0.25rem;
    cursor: pointer;
    border: 1px solid var(--primary);
    transition: 300ms;
    box-shadow: .3rem .3rem .6rem var(--greyLight-1)
}

.section__pokedex-input .send:hover {
    background: var(--bg-white);
    color: var(--primary);
    box-shadow: .3rem .3rem .6rem var(--greyLight-2)
}

.section__pokedex-input .send[disabled] {
    background: var(--bg-disabled);
    border: 1px solid var(--border-disabled);
    cursor: not-allowed;
    opacity: 0.5;
    color: var(--color-disabled);
    box-shadow: none;
}

.section__pokedex-input .send:hover[disabled] {
    box-shadow: none;
}

.card__wrapper {
    width: 100%;
    margin: 3rem 0;
}

.card__pokemon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

.card__pokemon-info {
    text-align: center;
    cursor: pointer;
    box-shadow: .3rem .3rem .6rem var(--greyLight-1), -.2rem -.2rem .5rem var(--bg-white);
    height: 22rem;
    padding: 30px;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .3s ease;
}

.card__pokemon-info .name {
    font-size: 1.2rem;
}

.card__pokemon-info:hover {
    box-shadow: inset .2rem .2rem .5rem var(--greyLight-1), inset -.2rem -.2rem .5rem var(--bg-white);
}

.card__pokemon-info img {
    width: 9rem;
    height: 9rem;
    margin: 20px auto 0;
}

.card__pokemon-info .type {
    padding: 10px 15px;
    border-radius: 0.25rem;
}