/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --body: #e4ebf5;
    --primary: #447fff;
    --text-white: #ffffff;
    --bg-white: #ffffff;
    --dark-gray: #333;

    --greyLight-1: #c8d0e7;
    --greyLight-2: #cedaff;

    --bg-disabled: #e4e4e4;
    --color-disabled: #666;
    --border-disabled: #7e7e7e;
}